*.pyc
*.sln
*.swp
*.VC.db
*.vcxproj*
*/.vs/*
*~
.DS_store
.cache
.cproject
.project
.pydevproject
.idea
.repo
.settings
build/
.venv/
AGENTS.md
/dist/
/dist-*
tmp/
/0.5.3
/build-*/
/builder/
/builder-*
/cmake-build-*
junit-reports/
packager/docs/
.vscode/
